<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% block title %}Reset Your Password{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Reset Your Password</h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Change my password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
