{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    {% block style %}
    {% endblock %}
</head>
<body class="bg-gray-100">
{% include 'navbar.html' %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--        <a class="navbar-brand" href="{% url 'home' %}">{% trans "My Shop" %}</a>-->
<!--        <div class="collapse navbar-collapse" id="navbarNav">-->
<!--            <ul class="navbar-nav mr-auto">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="{% url 'products' %}">{% trans "Products" %}</a>-->
<!--                </li>-->
<!--            </ul>-->
            <!-- Language Switcher -->
            <form action="{% url 'set_language' %}" method="post" class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <select name="language" onchange="this.form.submit()" class="form-control mr-sm-2">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="hidden" name="next" value="{{ request.path }}">
            </form>
        </div>
    </nav>
{% include 'messages.html' %}
{% block content %}
{% endblock %}
<footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <p>&copy; 2024 Your Online Shop</p>
        </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Include Slick Carousel JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>