{% extends 'base.html' %}
{% block title%}Reviews{% endblock %}
    {% block style %}
    {% endblock %}
<body>
{% block content %}
    <div class="container">
        <h2>Product Reviews</h2>
        <!-- Reviews section -->
        <div class="row">
            <!-- Review cards -->
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Customer Name</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in turpis non libero consequat vestibulum eu eu ex.</p>
                        <p class="card-text">Rating: <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span></p>
                    </div>
                </div>
            </div>
            <!-- Add more review cards here -->
        </div>
    </div>
{% endblock %}